<article class="project">
    {{ $.Scratch.Set "list" "true" }}
    {{ partial "content-header" . }}

    <div class="project-content">
        {{ print .Summary | markdownify }}
    </div>

    <footer class="project-footer">
        <ul class="actions">
            {{ if not .Params.wip }}
            <li><a href="{{ .Permalink }}" class="button big">Continue Reading</a></li>
            {{ else }}
            <li><a href="" class="button big disabled">More on this later!</a></li>
            {{ end }}
        </ul>
    </footer>
</article>
