<header class="project-header">
    {{ $original := .Resources.GetMatch "banner.*" }}

    {{ if $original }}
    <div class="banner">
        {{ $srcset := "" }}

        {{ $sizes := slice 320 480 768 1024 1280 1600 1920 }}
        {{ range $sizes }}
            {{ if gt $original.Width . }}
                {{ $newSize := printf "%sx" (string .) }}
                {{ $newLink := ($original.Resize $newSize).RelPermalink }}
                {{ $newWidth := printf " %sw, " (string .) }}
                {{ $srcset = print $srcset (print $newLink (print $newWidth)) }}
            {{ end }}
        {{ end }}

        {{ $originalLink := printf "%s" $original.RelPermalink }}
        {{ $originalWidth := printf " %sw" (string $original.Width) }}

        {{ $srcset = print $srcset (print $originalLink (print $originalWidth)) }}

        {{ $mediaQuery := "(min-width: 980px) calc(100vw - 28rem), 100vw" }}
        {{ if eq ($.Scratch.Get "list") "true" }}
            {{ $mediaQuery = "(min-width: 1280px) calc((100vw - 28em) / 2), (min-width: 980px) calc(100vw - 28em), (min-width: 768px) calc(100vw / 2), 100vw" }}
        {{ end }}
        <img src="{{ $original.RelPermalink }}"
             {{ if gt (len $srcset) 0 }}srcset="{{ printf $srcset }}"
             sizes="{{ $mediaQuery }}"{{ end }}
             {{ with .Title }}alt="{{ . }}"{{ end }}>
    </div>
    {{ else }}
    <div class="banner no-image"></div>
    {{ end }}

    <div class="title">
        <h1>{{ .Title }}</h1>
        {{ with .Description }}
        <p>{{ . }}</p>
        {{ end }}
    </div>

    {{ if and (eq .Type "project") (not .Params.wip) }}
    <div class="meta">
        <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
            {{ .PublishDate.Format "January 2, 2006" }}
        </time>
        <p class="reading-time">{{ .ReadingTime }} minute read</p>
    </div>
    {{ end }}
    {{ if not .Params.wip }}
    <a class="project-link" href="{{ .Permalink }}"></a>
    {{ end }}
</header>
