<header class="project-header">
    {{ $original := .Resources.GetMatch "banner.*" }}

    {{ if $original }}
    {{ $bannerImage := $original.Resize "900x" }}
    <div class="banner" style="background-image: url({{ $bannerImage.RelPermalink }}">
    </div>
    {{ else }}
    <div class="banner no-image"></div>
    {{ end }}

    <div class="title">
        <h1>{{ .Title }}</h1>
        {{ with .Description }}
        <p>{{ . }}</p>
        {{ end }}
    </div>

    {{ if eq .Type "project" }}
    <div class="meta">
        <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
            {{ .PublishDate.Format "January 2, 2006" }}
        </time>
        <p class="reading-time">{{ .ReadingTime }} minute read</p>
    </div>

    <div class="meta abbreviated">
        <time class="published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
            {{ .PublishDate.Format "Jan 2, 2006" }}
        </time>
        <p class="reading-time">{{ .ReadingTime }} min read</p>
    </div>
    {{ end }}

    <a class="project-link" href="{{ .Permalink }}"></a>
</header>
