<section id="sidebar" class="page-sidebar">
    {{ $logo := .Site.Params.sidebar.logo }}
    <a href="/" class="site-logo {{ $logo.shape }}">
        {{ if eq (path.Ext $logo.src) ".svg" }}
        {{ readFile $logo.src | safeHTML }}
        {{ else }}
        <img src="{{ $logo.src }}" alt="{{ $logo.alt }}" />
        {{ end }}
    </a>

    <div class="site-title">
        {{ with .Site.Params.sidebar }}
        <h1>{{ .header }}</h1>
        <p>{{ .paragraph | safeHTML }}</p>
        {{ end }}
    </div>

    <nav class="site-nav">
        <ul class="nav-items">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
            <li class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{ end }}">
                <a href="{{.URL}}">{{ .Pre }}<span>{{ .Name | title }}</span></a>
            </li>
            {{ end }}
        </ul>
    </nav>

    <ul class="site-links">
        {{ partial "social" . }}
    </ul>
</section>
