{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<div class="page-main home-page">
    <div class="home-page-intro">
        {{ .Content }}
    </div>

    <div class="all-projects-button"><a href="/projects" class="button big">All of the projects</a></div>

    <h2 class="featured-projects-title">Featured projects</h2>
    <div class="project-list">
        <div class="project-gutter-sizer"></div>

        {{ range where .Site.Pages "Params.featured" true }}
            {{ .Render "li" }}
        {{ end }}
    </div>
</div>
{{ end }}
