@import '../globals';

figure {
  overflow: hidden;
  position: relative;
}

figcaption {
  p {
    margin: auto;
  }
}

.pswp {
  .pswp__caption__center { // sass-lint:disable-line class-name-format
    text-align: center;
  }
}

.pswp-gallery {
  margin: -10px -5px 10px;
  overflow: hidden;

  .figure-box {
    padding-bottom: 75%;
    position: relative;

    &.half,
    &.third {
      margin: 0;
    }

    &.half {
      @include between(xsmall, medium) {
        padding-bottom: 37.5%;
        width: 50%;
      }

      @include larger-than(large) {
        padding-bottom: 37.5%;
        width: 50%;
      }
    }

    &.third {
      @include between(xxsmall, xsmall) {
        &:not(:nth-child(3n-2)) {
          padding-bottom: 37.5%;
        }
      }

      @include between(xsmall, medium) {
        padding-bottom: 25%;

        &:not(:nth-child(3n-2)) {
          padding-bottom: 25%;
        }
      }

      @include between(medium, large) {
        &:not(:nth-child(3n-2)) {
          padding-bottom: 37.5%;
        }
      }

      @include between(large, xlarge) {
        padding-bottom: 25%;
      }

      @include larger-than(xlarge) {
        padding-bottom: 15%;
      }
    }
  }

  figure {
    bottom: 5px;
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;

    p {
      color: $color-white;
      margin: 0;
    }

    > a {
      border-bottom: 0;
      display: block;
      height: 100%;
    }

    &:hover {
      figcaption {
        bottom: 0;
        opacity: 1;
      }
    }
  }

  figcaption {
    background: $color-black-70;
    bottom: -50%;
    color: $color-white;
    cursor: pointer;
    left: 0;
    opacity: 0;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    transition: opacity .3s ease-in-out, bottom .3s ease-in-out;
  }

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}
