.figure-box,
.video {
  float: left;
  //padding: .5rem $gutter-xsmall 1rem $gutter-xsmall;
  padding-bottom: 1rem;
  padding-top: .5rem;
  text-align: right;

  &.fit,
  &.main {
    display: block;
    width: 100%;
  }

  &.fit {
    margin: 0 0 1rem;
  }

  &.main {
    margin: 0 0 3rem;
  }

  &.half {
    @include between(xsmall, medium) {
      width: calc(50% - #{$gutter-xsmall});
    }

    @include larger-than(large) {
      width: calc(50% - #{$gutter-xsmall});
    }
  }

  &.third {
    &:not(:nth-child(3n-2)) {
      @include between(xxsmall, xsmall) {
        width: 50%;
      }

      @include between(medium, large) {
        width: 50%;
      }
    }

    @include between(xsmall, medium) {
      width: 33.3%;
    }

    @include between(large, xlarge) {
      width: 33.3%;
    }

    @include larger-than(xlarge) {
      width: 20%;
    }
  }

  &.fourth {
    width: 25%;
  }

  @include larger-than(xsmall) {
    &.inline-left {
      float: left;
      padding-right: $gutter-xsmall;
    }

    &.inline-right {
      float: right;
      padding-left: $gutter-xsmall;
    }
  }

  &.clear {
    clear: both;
  }

  &.center {
    clear: both;
    display: block;
    margin: auto;
  }
}

.figure-box {
  border: 0;
  display: inline-block;
  width: 100%;

  figcaption {
    border-top: 1px solid $color-gray-30;
    color: $color-dark-gray;
    display: inline-block;
    font-size: .8rem;
  }

  img,
  svg {
    display: block;
    width: 100%;
  }
}

.video {
  height: 0;
  overflow: hidden;
  position: relative;
  width: 100%;

  iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &.fit {
    padding-bottom: 56.25%;
  }

  &.half {
    padding-bottom: 28.13%;
  }
}
