@import '../globals';

.project-list {
  margin: 0 auto;
  max-width: 70rem;

  .project-content {
    flex-grow: 1;
  }

  .project {
    @include larger-than(medium) {
      grid-template-areas: 'header content content' 'header . footer';
      grid-template-columns: 32rem 1fr auto;
      grid-template-rows: 1fr auto;
    }

    display: grid;
    grid-template-areas: 'header' 'content' 'footer';
    grid-template-columns: 1fr;
    grid-template-rows: 18rem 1fr auto;
    margin-bottom: 1rem;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.project {
  @include larger-than(medium) {
    padding: $gutter-large;
  }

  background: $color-white;
  border: solid 1px $color-gray-30;
  border-radius: $border-radius;
  max-width: 100%;
  overflow: hidden;
  padding: $gutter-small;

  h2 {
    background-image: linear-gradient(to right, $color-secondary, $color-secondary);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 50% 2px;
  }

  h2,
  h3,
  h4 {
    clear: both;
    margin-top: 2.2rem;
  }

  p,
  h3,
  h4 {
    @include soften-text(87);
  }
}

.project-link {
  border-bottom: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.project-header,
.project-footer {
  p,
  h1,
  h2,
  h3,
  h4,
  span,
  .published {
    color: $color-white;
  }
}

.project-header {
  @include larger-than(medium) {
    margin: calc(-#{$gutter-large} - 1px) $gutter-large calc(-#{$gutter-large} - 1px) calc(-#{$gutter-large} - 1px);
  }

  background: $color-black;
  display: flex;
  flex-direction: column;
  grid-area: header;
  margin: calc(-#{$gutter-small} - 1px) calc(-#{$gutter-small} - 1px) $gutter-small;
  overflow: hidden;
  position: relative;


  .title,
  .meta {
    background-color: $color-black-50;
    padding: ($gutter-small + .5rem) $gutter-small $gutter-small;
    z-index: $z-base + 1;

    p,
    span,
    time {
      @include soften-text(87);
    }
  }

  .title {
    @include larger-than(medium) {
      padding: $gutter-large $gutter-large $gutter-small;
    }

    flex-grow: 1;
    text-align: center;

    h1 {
      font-size: 1.5rem;
      font-weight: 900;
      line-height: 1;
    }

    a {
      &:hover {
        color: inherit;
      }
    }

    p {
      font-size: .9rem;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  .meta {
    display: none;
    flex-direction: row;
    font-family: $font-raleway;
    font-size: .7rem;
    font-weight: 800;
    justify-content: center;
    letter-spacing: .25rem;
    margin: 0;
    padding-top: 0;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;

    &.abbreviated {
      display: flex;
    }

    @include larger-than(medium) {
      padding: 0 $gutter-large $gutter-large;
    }

    @include larger-than(xxsmall) {
      display: flex;

      &.abbreviated {
        display: none;
      }
    }

    .reading-time,
    .published {
      margin: 0;
    }

    .reading-time {
      border-left: solid 1px $color-white-87;
      padding-left: $gutter-small;
      text-align: left;
    }

    .published {
      margin-right: $gutter-small;
      text-align: right;
    }
  }

  .banner {
    background-position: center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;

    svg {
      width: 100%;
    }

    &.no-image {
      background: linear-gradient(to right, $color-primary 0%, $color-background 100%);
    }
  }
}

.project-footer {
  display: flex;
  grid-area: footer;
  margin-top: 2rem;

  .actions {
    flex-grow: 1;
  }
}

.project-content {
  grid-area: content;

  img,
  video,
  iframe {
    max-width: 100%;
  }

  h3,
  h4,
  h5 {
    font-weight: 600;
  }

  p,
  ol,
  ul {
    margin-bottom: 1rem;

    a {
      border-bottom: dotted 2px $color-gray-65;

      &:hover {
        border-bottom-color: transparent;
      }
    }
  }

  blockquote {
    margin: 0 0 1rem;
  }

  .clear {
    clear: both;
  }
}

.table-of-contents {
  margin-bottom: $gutter-large;

  ul {
    margin-bottom: 0;
  }
}

.content-single {
  .project {
    margin: 0 auto;
    max-width: 70rem;
  }
}

@include larger-than(small) {
  .content-single {
    .project {
      padding: $gutter-large;
    }

    .project-header {
      flex-direction: row;
      margin: calc(-#{$gutter-large} - 1px) calc(-#{$gutter-large} - 1px) 2rem;

      .title,
      .meta {
        padding: $gutter-large $gutter-large 2rem;
      }

      .title {
        text-align: left;

        h1 {
          font-size: 2rem;
        }
      }

      .meta {
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 0;
        width: auto;
      }

      .published,
      .reading-time {
        border: 0;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      .reading-time {
        text-align: right;
      }
    }
  }
}

@include larger-than(medium) {
  .content-single {
    .project {
      padding: $gutter-small;
    }

    .project-header {
      margin: calc(-#{$gutter-small} - 1px) calc(-#{$gutter-small} - 1px) $gutter-small;

      .title,
      .meta {
        padding: $gutter-large $gutter-small 2rem;
      }

      .meta {
        display: none;
        padding-left: 0;

        &.abbreviated {
          display: flex;
        }
      }
    }
  }
}

@include larger-than(large) {
  .content-single {
    .project {
      padding: $gutter-large;
    }

    .project-header {
      margin: calc(-#{$gutter-large} - 1px) calc(-#{$gutter-large} - 1px) 2rem;

      .title,
      .meta {
        padding: $gutter-large $gutter-large 2rem;
      }

      .meta {
        display: flex;
        padding-left: 0;

        &.abbreviated {
          display: none;
        }
      }
    }
  }
}
